html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: monospace;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas {
  cursor: url("../resources/crosshair.cur") 1 1, default;
  background-color: #a3f5a3;
  position: absolute;
  top: 0;
  left: 0;
}

.hudPanel {
  position: absolute;
  border: 1px solid black;
  background-color: #00800099;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;
}

.hudPanel span {
  margin: 10px;
}

.options {
  position: absolute;
  left: -310px;
  top: 0px;
  width: 300px;
  background-color: rgba(128, 128, 128, 0.698);
  border: 2px solid grey;
  font-size: 5em;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transition: 0.5s;
}

.options button {
  font-size: 0.3em;
  font-weight: bold;
  font-family: monospace;
  height: 5em;
}

#fps {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 1em;
	z-index: 2;
}