body {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    margin: 0;
    background-color: #fff6e3;
}

.nav {
    height: 100vh;
    width: 33.3%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
    background-position: center;
	border: 1px solid black;
}

.nav:hover {
    width: 90%;
}

.nav.tictactoe {
    background-image: url('../resources/images/index/tictactoe_background.png');
}

.nav.tictactoe:hover {
    background-image: url('../resources/images/index/tictactoe_background.gif');
}

.nav.emberke {
    background-image: url('../resources/images/index/emberke_background.png');
}

.nav.emberke:hover {
    background-image: url('../resources/images/index/emberke_background.gif');
}

.nav.fighter {
    background-image: url('../resources/images/index/fighter_background.png');
}

.nav.fighter:hover {
    background-image: url('../resources/images/index/fighter_background.gif');
}